# .github/workflows/pr-labeler.yml

# workflow 의 이름
name: PR labeler

on:
  pull_request:
    types: [opened, reopened]

jobs:
  labeler:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Check Labels
        id: labeler
        uses: jimschubert/labeler-action@v1
        with:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
      - name: PR Gifs
        uses: koushikmohan1996/action-pr-gifs@master
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
